body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Navagation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    position: absolute;
    top: 0;
    left: 220px;
    box-shadow: 0px 2px 6px 0px rgba(39, 45, 59, 0.74);
    width: 85%;
}

.navbar ul.fetures {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-right: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: #272D3B;
}

.navbar ul li a:hover {
    padding: 10px 0px 0px 0px;
    border-top: 6px solid #2D62ED;
}

.navbar .searchandicons {
    display: flex;
    align-items: center;
}

.navbar .searchandicons .search {
    width: 340px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 16px;
    margin-right: 20px;
}

.search>input {
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: 16px;
}

.navbar .searchandicons .menu-icons a {
    align-items: inline-block;
    margin-right: 40px;
}

/* Side menu */

.aside-menu {
    background: #2D62ED;
    padding-top: 50px;
    position: absolute;
    top: 0;
    padding-bottom: 20px;
}

/* Menu logo */
.aside-menu .logo-txt {
    display: flex;
    align-items: center;
     margin-left: 15px;
    padding-right: 15px;
}

.aside-menu .logo-txt h2 {
    color: #FFFFFF;
    margin-left: 23px;
    font-size: 22px;
    font-weight: 600;
}

/* Menu Links */
.aside-menu .menu-side {
    margin-top: 130px;
}

.aside-menu .menu-side .menu-row {
    display: flex;
    align-items: center;
    opacity: 0.5;
    margin-top: 40px;
    padding-left: 20px;
}

.aside-menu .menu-side .menu-row:active,
.aside-menu .menu-side .menu-row:hover,
.aside-menu .menu-side .menu-row:focus {
    opacity: 1;
    transition: 600ms ease-out;
    box-shadow: 4px 0px 0px 0px #fff inset,
        500px 0 0 rgba(255, 255, 255, 0.03) inset;

}

.aside-menu .menu-side .menu-row a:active,
.aside-menu .menu-side .menu-row a:hover,
.aside-menu .menu-side .menu-row a:focus {
    font-weight: 700;
}

.aside-menu .menu-side .menu-row a {
    margin-left: 32px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/* Side Menu Personal Account */

.aside-menu .personal-account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 20px; */
    margin-top: 290px;
    

}
.aside-menu .personal-acount-txt{
    display: flex;
    flex-direction: column;
}
.aside-menu .personal-account .personal-acount-txt h4 {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.aside-menu .personal-account .personal-acount-txt .pa-status {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.aside-menu .personal-account .personal-acount-txt .pa-status h5 {
    color: #fff;
    opacity: 0.5;
    margin-right: 15px;
    font-weight: normal;
}

/* big notification section */
.big-notification {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 4px 0px rgba(39, 45, 59, 0.74);
    border-radius: 20px;
    margin-bottom: 35px;
    
}
.big-notification .notificaton-txt {
    padding-left: 30px;
}

.big-notification .notificaton-txt h2 {
    font-size: 26px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.big-notification .notificaton-txt p {
    font-size: 18px;
    font-weight: 400;
    color: #272D3B;
    line-height: 30px;
}

.big-notification .notificaton-txt ul li {
    text-align: left;
    color: #272D3B;
    font-size: 18px;
    line-height: 30px;
    list-style: none;
}

.big-notification .notificaton-txt ul li img {
    margin-right: 10px;
}

/* Cards section */
.card-container{
    display: flex;
    margin-bottom: 40px;
    
}
.card1 {
    background: #FF007C;
/*     height: 180px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 6px 0px rgba(39, 45, 59, 0.74);
    position: relative;
    padding: 10px 5px;
    margin-right: 20px;
}
.card1-img{
    width: 240px;
    height: 80px;
    margin: auto;
}
.card1 .card-txt-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .card2 .card2-top h4,
 .card3 .card2-top h4 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    line-height: 37px;
}

 .card1 .card-txt-and-btn h4{
    /* margin-top: -16px; */
    /* margin-bottom: 24px; */
    font-size: 28px;
    font-weight: bold;
    color: #fff;
 }
 .card1 .card-txt-and-btn h5,
 .card2 .card2-top h5,
 .card3 .card2-top h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* margin-top: -26px; */
}

 .card2 {
    background: #2D62ED;
    width: 250px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px 0px rgba(39, 45, 59, 0.74);
    margin-right: 40px;
    position: relative;
}

.card2-top {
    margin-top: 16px;
    margin-left: 32px;
}

.image {
    align-self: flex-end;
    margin-right: 16px;
    margin-bottom: 16px;
    position: absolute;
    top: 120px;
}

 .card3 {
    background: #7D00B5;
    width: 250px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px 0px rgba(39, 45, 59, 0.74);
    position: relative;
    
}

/* orders section */
.orders {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(39, 45, 59, 0.88);
    border-radius: 20px;
    padding: 15px;
    
}
.orders .order-table {
    padding: 17px 10px 0 17px;
}
.orders .order-table .order-icon {
    color: #272D3B;
}

.orders .table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.orders .table-head .order-btn {
    gap: 16px;
}

.orders .table-head .order-btn a {
    background-color: #00CCF2;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 300ms ease-in-out;
    
}
.orders .table-head .order-btn a:hover{
    opacity: 0.7;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.54);
}
.orders .order-table thead th {
    font-size: 14;
    font-weight: Bold;
    line-height: 19px;
    

}
.orders .order-table tbody td {
    border-top: 1px solid #272D3B;
    padding: 5px;
}

/* Costomizing the checkbox */
input[type="checkbox"] {
    display: none;
  }
  
  label.ck-box {
    position: relative;
  }
  
  label.ck-box::before {
    content: "";
    background: url(../img/icons8-checkmark.svg);
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -36px;
    top: -12px;
    cursor: pointer;
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    z-index: 100;
}

input[type="checkbox"]:checked +label.ck-box::before {
    transform: scale(1) rotateZ(0deg);
  }
  
  label.ck-box::after {
    content: "";
    border: 1px solid #272D3B;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -26px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
  } 
   
.first-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 156px;
    margin-left: 264px;
}

/* Up coming  */
.upcoming {
    border-radius: 20px;
    padding: 32px 16px 13px 16px;
    position: relative;
    box-shadow: 0px 1px 4px 0px rgba(39, 45, 59, 0.74);
}

.upcoming-bottom .upcoming1 .calender1 {
    background-color: #39D5CF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.upcoming-bottom .upcoming1 {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.upcoming-bottom .upcoming1 .calender2 {
    background-color: #FF007C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.upcoming-bottom .upcoming1 .calender3 {
    background-color: #7D00B5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.upcoming .upcoming-top h3 {
    font-size: 26px;
    font-weight: bold;
    color: #272D3B;
}

.sec-wrapper .upcoming .upcoming-top .today {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming .upcoming-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upcoming .upcoming-top .today p {
    margin-right: 16px;
    font-size: 14px;
    font-weight: 500;
}

.upcoming .btn {
    text-align: end;
}


/* Chart Section */
.chart {
    box-shadow: 0px 2px 4px 0px rgba(39, 45, 59, 0.74);
    border-radius: 20px;
    padding: 16px 10px;
}

.chart .chart-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chart .chart-txt h2 {
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
}
/* the code below to costmize the pie chart */
.pie {
    max-width: 200px;
    position: relative;
    margin: 23px auto;

}
.pie .pie__frame {
    stroke: #F5FBFF;
    stroke-width: 2px;
    fill: none;
}

.pie .pie__circle {
    stroke: #00CCF2;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: #F5FBFF;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: pie-fill 2s reverse;
}

.pie .pie__canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

.pie .pie__text {
    color: #272D3B;
    font-size: 32px;
    font-weight: bold;
    line-height: 43px;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    right: 0; 
    left: 0; 
    z-index: 3; 
    transform: translateY(-50%);
    animation: text-slideup 2s linear;
}
@keyframes pie-fill {
    to { 
      stroke-dasharray: 0 100; 
    }
  }

  @keyframes text-slideup {
    from {
      opacity: 0;
      transform: translateY(0%);
    }
    to {
      opacity: 1;
      transform: translateY(-50%);
    }
}

/* To customize the radio button in the chart section  */
.chart input[type="radio"] {
    opacity: 0;
}

.chart input[type="radio"] +label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500px;
    line-height: 24px;
}

.chart input[type="radio"] +label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-color: #93969D;
    border-radius: 100%;
    transition: all 0.1s ease-in-out;
}

.chart input[type="radio"]:checked +label::before {
    background: #00CCF2;
    transform: scale(1);
}


.sec-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 156px;
}

.column-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}
